<div class= "jumbotron">
    <!-- STRONA GLOWNA -->
    <h1> ASP>NET MVC _ CWICZENIA</h1>
    <ul>
        <li>@Html.ActionLink("Ciekawe Linki,", "InterestingLinks", "Home" )</li>
        <li>@Html.ActionLink("Tabela samochodow", "GetaAllCars", "Home")</li>
        <li>@Html.ActionLink("Lista mmodeli samochodow", "GetListOfModels", "Home")</li>
        <li>@Html.ActionLink("Formularz kontaktowy", "ContactForm", "Home)"</li>
    </ul>
</div>