
@{
    ViewData["Title"] = "InterestingLinks";
}
    <h2>InterestingLinks</h2>
    <!-- Wyswietlanie listy linkow-->

    <ul>
        <li><a href="https://www.facebook.com/">Fb</a></li>
        <li><a href="https://www.facebook.com/">Fb2</a></li>
        <li><a href="https://www.facebook.com/">bFaaa3</a></li>
        <li><a href="https://www.facebook.com/">Fb4</a></li>
    </ul>



